h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald"
}

body {
  font-family: "Open Sans"
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#card {
  width: 30%;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

img{
  width: 80%;
  height: 65%;
}

h6{
  padding-top: 20px;
}
